################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LNSDWebsite/.vs/LNSDWebsite/v15/Server/sqlite3/db.lock
/LNSDWebsite/.vs/LNSDWebsite/v15/Server/sqlite3
